.machine-tile {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;

  &__name {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__status-chart {
    width: 200px;
    height: 120px;
    padding-top: 20px;
  }
}